class GiftsBodyContent extends React.Component {
    constructor() {
        super();
    }

    render() {
        const home_depot_src = '<%= image_path "gifts/home_depot.jpg" %>'
        const tj_maxx_src = '<%= image_path "gifts/tjmaxx.jpg" %>'
        const ikea_src = '<%= image_path "gifts/ikea-gift-card.png" %>'

        return (
            <div className="tile is-ancestor">
              <GiftItem image_src={home_depot_src}
                        caption="Home Depot Gift Card"
                        description="Похоже это будет наш самый посещаемый магазин в ближайшем будущем"/>

              <GiftItem image_src={tj_maxx_src}
                        caption="TJ MAXX Gift Card"
                        description="Сдесь мы купим много красотулек для дома"/>

              <GiftItem image_src={ikea_src}
                        caption="IKEA Gift Card"
                        description="Купим и скрутим... главное не перепутать :)"/>
            </div>
        )
    }
}