class GiftsBodyContent extends React.Component {
    constructor() {
        super();
    }

    render() {
        const home_depot_src = '<%= image_path "gifts/home_depot.jpg" %>'
        const ikea_src = '<%= image_path "gifts/ikea-gift-card.jpg" %>'

        return (
            <div>
              <GiftItem image_src={home_depot_src}
                        caption="Home Depot Gift Card"
                        description="Похоже это будет наш самый посещаемый магазин в ближайшем будущем"/>

              <GiftItem image_src={ikea_src}
                        caption="IKEA Gift Card"
                        description="И этот тоже"/>
            </div>
        )
    }
}