class WhatHappenedBodyContent extends React.Component {
    constructor() {
        super();
    }

    render() {
        const colorClass = ContentVariables.getColorClass(2);

        return (
            <div className="tile is-ancestor">
              <div className="tile is-ancestor">
                <div className="tile is-6 is-parent">
                  <div className="tile is-child box">


                    <div className="content">
                      <figure className="image is-3by2">
                        <img
                            src="https://lh3.googleusercontent.com/Mg8hOZKnsNfPJJ608muFZvuNSAPd0mDU_wmqWbOMiaU8lVR0yMyy3weWHAd3ZBJKYSeHb3YGrBZuYFx-MAC822bwSECB1_r15NJVBD96p1Rp-dgmq9MS_y5yNhtR-FPA3IZeptFGXKRik7exBl93SskFKi5OD-6qX2rpVkKRZK5DnJMFHscSHc5YwSM29EAFWSiEC1VMfp6pZysoOllXu-sJA4HNOdEeAmeZyELwnRF906PNJMI0nCxm99cEynYipMgNFyjDVVEm0uP3bwNKUX8f0qg9lYHDZLOlqitmGGep8X3NpMnME41ERFzlxGeWMfbeXpDYoBaaplx3XEKh5nnVAxnkTyAemx_5lRbB0jZegp-HLUtc77JqS5rL5Jyji2awOvjVJRwZbJzCjJGJi-8xYzqp1oAQMJDAP-YzTmhN-LdLAhmCf9HowNJgLbDP2RcMLfewZE1V3MDsAEdlbGIp4gsqOXBte8lmZZ_J7HC1P_hnwVGqx-J8jQ9GxD_vu62ZXfqUxI0eInThNGvMdiHr2DEi-zl0NKRqS5bLe66vLx6yrp7eQHsj7jmOB_PmqrduI9mc4CuLKWnFVLohVILeXDmjhvYKKnAF-99Y_EsORcEfJE3m8QeVN5zvqtIOkYtnNmWJ1lG-QcwLAhpyEfHYRNIHVMT3QklGC3206dCVkw=w2770-h1840-no"/>
                      </figure>

                      <a href="https://photos.app.goo.gl/oafx4DFUscDjvuYg1" target="_blank"
                         className={`button ${colorClass}`}>Ссылко на фото</a>
                    </div>

                    <div className="content">
                      <figure className="image is-3by2">
                        <img
                            src="https://lh3.googleusercontent.com/k5V4GndCANRHJUJP3Y9u5waRqj5HOf3fOtVvH4PaaQQdCfliEI6zVfXZgiqsMrls_DO5piWYrQLkq54J2KcrVWOH73TSdQNJjrf-nDe8RJVQyzxaBg2CH00xtC5XVfueiYQN82GXWcmh0FQGmqIakguk1p9e5jcEzR-wsFnzANwmq93NOXh9NHIXUJwCE876xvUjl8EL0DOLpuLs08xcEvkn3yfUkzqhoaqVnX61VEo3g_s6QGB4LuKiS7oYj8zbQJ5hWE708t2RBcns-wUmhmlk-00oc-UfNDRanWq4yo7ztndeHf2mmP5DgiJt5iZ64SJsrgIPBqJvv0QXuff8YwQNsAcSiY2pzUhhx5EEJYO-TJ-_2Adh4MviWOq4X6AtZhv827uvbp2DlIfgWj6zO2-nXmEw8bEP0HCmBFsKbfTIpaAtR_Z76kzIFB1e5cEI2o-bKdxcnuj9ClcFRAijiYmnbyUbL8r_jQ2dtVY-Nn_oY3IalqGtkgU1XUoGVaPTIS61NofgpZsdpxndtHyk2kk8S3Oweh8flB1--8Itp9juSnVnvdAMeYdDO-7uOX0SXOB2fBMSYqOB3KilTDUs9FMOOFSV8XvlaJCtPNQtRbqHlRaedIE-YBt5=w2770-h1840-no"/>
                      </figure>

                      <a href="https://photos.app.goo.gl/STh7KhN9ZokV9ZSd2" target="_blank"
                         className={`button ${colorClass}`}>Ссылко на фото</a>
                    </div>
                  </div>
                </div>

                <div className="tile is-6 is-parent">
                  <div className="tile is-child box">


                    <div className="content">
                      <figure className="image is-3by2">
                        <img
                            src="https://lh3.googleusercontent.com/s5hx1CiY4AEXXwwqoRcTgdbWN5bfX3maxINjt4LcHiYJjHckEJJ8CH4m4lOlWBd8trsWg2t-L9bFy0L9fnqQvkceAZOGJAXFYDTLvU6NmyPjZ2Cy4ukE3snnDnIMZLnVxuCUTxX14knq1HlzpAvAyGAWXtcJGYxtWOI3SBSkjAlLBHua674jdxWLbM1Dx-szu08ng6LCB0xzUCrFymyWjKgq12nna9Ev2qIlfhevchAQuiDbpyQV5FXOd87478N0s1O5T14pRELEKDU0eHgTnn2YXZGajAfbCB4sNI-Uo-2LDMZZqSwzkLcqyUTu3MEnLj8Qpw2zX-3tx23R1uNWn4n8ql9XOjRu7ztJvKor_UOudjEejmef6eNVKjdQBmNsAcg0UAYh3vs2wqQDZhiy5IlRSkqHcINE0dfK6gk5Peg7N6fg7yfby1QCQ4lYsGaw6eV7-l6Uwz_sWdV9tb8nnMlXF7U1F9a3ItJT5B-u9JAAyt6eyhaFdKM6gXkSRqWBHRbIM6M7f4sqhpMiF2jJLa3I_JG_rcoRV_1oyWFeBnA4XqZyMjzUKIL0tRZ9y-urKQz2quGcBgLkSY_oGAXlyEHTrvg2p65mpJ_g9dDZhbvxdOGkaCf542G4=w2770-h1840-no"/>
                      </figure>

                      <a href="https://photos.app.goo.gl/twP9eEwPzz6PZagB2" target="_blank"
                         className={`button ${colorClass}`}>Ссылко на фото</a>
                    </div>

                    <div className="content">
                      <iframe width="100%" height="421.33" src="https://www.youtube.com/embed/5YhVyeLsZ5w"
                              frameborder="0" allowfullscreen/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        )
    }
}
