class DirectionsBodyContent extends React.Component {
    constructor() {
        super();
    }

    render() {
        const digger_src = '<%= image_path "directions/digger.png" %>'
        const satellite_src = '<%= image_path "directions/satellite.jpg" %>'

        return (
            <div className="tile is-ancestor">
              <div className="tile is-6 is-parent">
                <div className="tile is-child box">
                  <p className="subtitle">
                    <span className="icon is-medium"><i className="fa fa-low-vision"></i></span>
                    <span>&nbsp;Вроде он есть, но его как бы нет</span>
                  </p>

                  <div className="content">
                    Google Maps за нами пока не успевает. Для него нашего адреса пока не существует. Если открыть Google Maps в режиме "прогулки по улицам", то оказывается Google уже профоткал нашу улицу намного ранее того как начали строить дом. И вообще на нашем лоте 97 эксковатор стоит.
                  </div>

                  <div className="content">
                    <figure className="image is-4by3">
                      <img src={digger_src}/>
                    </figure>
                  </div>
                </div>
              </div>

              <div className="tile is-6 is-parent">
                <div className="tile is-child box">
                  <div className="content">
                    <figure className="image is-4by3">
                      <img src={satellite_src}/>
                    </figure>
                  </div>

                  <div className="content">
                    Apple Maps в этом плане выглядит получше. Он уже знает наш адрес и отлично прокладыват к дому путь. Но если включить Satellite layer, то на фотках со спутника ни дома ни эксоватора нет.
                  </div>
                </div>
              </div>
            </div>
        )
    }
}