class WhatHappensBodyContent extends React.Component {
    constructor() {
        super();
    }

    render() {
        const garage_src = '<%= image_path "house/garage.jpg" %>'
        const concrete_src = '<%= image_path "house/concrete.jpg" %>'

        return (
            <div className="tile is-ancestor">
              <div className="tile is-6 is-parent">
                <div className="tile is-child box">
                  <p className="subtitle">
                    <span className="icon is-medium"><i className="fa fa-home"></i></span>
                    <span>Дом построен!</span>
                  </p>

                  <div className="content">
                    <figure className="image is-4by3">
                      <img src={garage_src}/>
                    </figure>
                  </div>

                  <div className="content">
                    Целых 6 месяцев мы наблюдали за процессом строительства нашего дома и вот он наконец построен и ждет
                    вас всех в гости!
                  </div>
                </div>
              </div>

              <div className="tile is-6 is-parent">
                <div className="tile is-child box">
                  <div className="content">
                    Дом сейчас выглядит немного уютнее чем на фото :) Многие из вас уже видели его снаружи и изнутри,
                    для остальных мы сделаем детальный обход со всех сторон.
                  </div>

                  <figure className="image is-4by3">
                    <img src={concrete_src}/>
                  </figure>


                </div>
              </div>
            </div>
        )
    }
}